/*
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
*/

.black-style {
    filter: grayscale(100%);
}

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.65rem;
}

.fs-9 {
    font-size: 0.55rem;
}

.text-siva {
    color: #AAAAAA;
}

.vh-50 {
    height: 50vh;
}

.vh-60 {
    height: 60vh;
}

.vh-70 {
    height: 70vh;
}

.vh-80 {
    height: 80vh;
}


#IzbGrupa .dropdown-item {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.5;
}





@font-face {
    font-family: "CowboyOutlawTextured";
    src: url("../fonts/CowboyOutlawTextured.otf") format("opentype");
}

.CowBFont {
    font-family: "CowboyOutlawTextured", sans-serif !important;
}

/*
body {
    font-family: "CowboyOutlawTextured", sans-serif !important;
}
*/
/*
:root {
    --bs-body-font-family: "CowboyOutlawTextured", sans-serif !important;
}
*/

.bottom-buttons {
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom, 0) + 80px);
    /* +10px zgoraj od spodnjega roba */
    left: 0;
    width: 100%;
    z-index: 9999;
}


.btn-icon {
    height: 1.8em;
    margin-right: 6px;
    vertical-align: middle;
}

.bg-dark-s {
    background-color: #3b2f2f; /* temno rjava, malce svetlejša od btn-dark */
    /* temno rjava, malce svetlejša */
    font-family: "CowboyOutlawTextured", sans-serif !important;
}


.btn-dark-s {
    background-color: #3b2f2f; /* temno rjava, malce svetlejša od btn-dark */
    color: #fff; /* bela pisava za kontrast */
    border: 1px solid #2e2424; /* rahlo temnejša meja */
    font-family: "CowboyOutlawTextured", sans-serif !important;
}

.btn-dark-s:hover {
    background-color: #634f4f; /* temno rjava, malce svetlejša od btn-dark */
    color: #fff; /* bela pisava za kontrast */
    /* svetlejši odtenek ob hover */
    font-family: "CowboyOutlawTextured", sans-serif !important;
}


.bg-dark-s:focus {
    background-color:  #634f4f;
    color: #fff; /* bela pisava za kontrast */
    /* svetlejši odtenek ob hover */
    font-family: "CowboyOutlawTextured", sans-serif !important;
}